// w-32 h-32 rounded-2xl

.cell {
	@apply relative  text-white font-bold text-5xl
	flex items-center justify-center bg-bg-secondary;

	&:before {
		@apply text-[24px] font-bold text-bg absolute right-3 top-3;
		//content: var(--cellId);
	}

	border-radius: 8px;
	min-height: 55px;
	min-width: 55px;
}

